{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Formulário</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Formulário de Devoluções</h1>
            {% bootstrap_messages %}
        </div>
        <form action="{% url 'index' %}" method="POST" class="form" autocomplete="off">
            {% csrf_token %}    
            {% bootstrap_form form %}
            <button type="submit" class="cta-primary">Enviar</button>
        </form>
    </div>

{% bootstrap_javascript %}
</body>
</html>